.wrapper {
    max-width: 1050px;
    margin: 0 auto;
    padding: 2rem 3rem;
}

body {
    font-family: $imprima;
    background: $black;
    line-height: 1.5;
    background-image: url(../images/overlay.png);
}