// Colors
$lightBlue: #CDDDDD;
$ashGrey: #ACBDBA;
$grey: #454955;
$black: #051014;
$smoke: #0D0A0B;
$golden: #fbe74c;
$darkGold: #e0aa2a;
// Fonts
$imprima: 'Imprima', sans-serif;
$damion: 'Damion', cursive;
// box shadow that I like to use
$shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);

// Mixin I like, below comment shows how to use it
// @include border-radius(0.5rem);
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}