html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  /* big blurs on box shadows should be reserved for temporary content that pops out toward the user */
  /* like modals or dialogs */
  /* use a more subtle, less distracting shadow for normal content */
  /* you can use multiple shadows to simulate reality */
  /* I copied this from Toby chrome extension */
  /* (using a CSS variable -- these aren't supported in IE11) */
  --box-shadow-elevation-1: 1px 1px 0px 0px rgba(94, 93, 102, 0.08),
    2px 2px 3px 0px rgba(94, 93, 102, 0.1);
  --box-shadow-elevation-2: 1px 1px 0px 0px rgba(94, 93, 102, 0.08),
    2px 5px 10px 0px rgba(94, 93, 102, 0.2);
  --text-on-light-background: hsl(0, 0%, 14%);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*My reset*/
*::before,
*,
*::after {
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  font-size: 0;
  vertical-align: top;
}

button,
input,
textarea {
  box-shadow: none;
  outline: 0;
  border: 0;
}

/*Base styles*/
html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-size: 1rem;
}

/*Align text*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/*Flex properties*/
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* center-aligning the icons */
.flex-between span {
  min-width: 32px;
  display: flex;
  justify-content: center;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-start {
  display: flex;
  align-items: flex-start;
}

[class*='grid-'] {
  display: grid;
  grid-gap: 15px;
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-1 {
  grid-template-columns: repeat(1, 1fr);
}

/* Center child*/
.center-child {
  display: grid;
  place-items: center;
}

.wrapper {
  max-width: 1050px;
  margin: 0 auto;
  padding: 2rem 3rem;
}

body {
  font-family: 'Imprima', sans-serif;
  background: #051014;
  line-height: 1.5;
  background-image: url(../images/overlay.png);
}

.logo {
  color: white;
  border-bottom: 0.25rem solid #e0aa2a;
  font-family: 'Damion', cursive;
  letter-spacing: 0.5rem;
}

.hidden {
  visibility: hidden;
}

.theme-button {
  font-size: 2rem;
  background: transparent;
  padding: 0.5rem;
  color: white;
  background: hsla(0, 0%, 100%, 0.4);
  border-radius: 999999px;
  box-shadow: var(--box-shadow-elevation-1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.theme-button i {
  font-size: 2.5rem;
  /* too low contrast (many people won't be able to see it) */
  color: #e0a92a;
  /* maybe try a default background and a box shadow on the button */
}
/* make buttons look obviously interactive */
.theme-button:hover {
  box-shadow: var(--box-shadow-elevation-2);
  background: hsla(0, 0%, 100%, 0.6);
  cursor: pointer;
  transform: scale(1.05);
}

.user-container {
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 2.5rem;
}

.search-profile {
  margin-bottom: 1.5rem;
}
.search-profile form {
  border-radius: 0.5rem;
  display: flex;
  background: white;
  /* keeping shadows consistent so everything looks the same distance */
  box-shadow: var(--box-shadow-elevation-1);
}

input[type='text'] {
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
  font-family: 'Imprima', sans-serif;
  font-size: 1.5rem;
  padding: 0.75rem 1rem;
  /* no box-shadow here, only on the form (input and search button are on the same elevation) */
}
input[type='text']::-webkit-input-placeholder {
  font-family: 'Imprima', sans-serif;
}

input[type='text']:focus {
  outline: 0.25rem solid rgba(224, 170, 42, 0.7);
}

input[type='submit'] {
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
  /* too high contrast, visually jarring */
  background: hsla(0, 0%, 50%, 0.1);
  color: white;
  font-size: 1.25rem;
  padding: 0 1.5rem;
}
input[type='submit']:hover {
  background: #051014;
}

.avatar {
  color: white;
  box-shadow: var(--box-shadow-elevation-1);
}
.avatar img {
  /* go for a flat design (borders, no shadows) or a natural design (shadows, no borders) but not both  */
  /* take a look at some popular websites and copy the styles from them */
}
.avatar .name {
  /* it's difficult to get enough contrast with white text on dark background */
  /* more often, try nearly-black text on a lighter background */
  background: hsl(42, 77%, 77%);
  color: var(--text-on-light-background);
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.info {
  color: white;
  font-size: 1.25rem;
}

.user-repos li {
  padding: 0.5rem;
  box-shadow: var(--box-shadow-elevation-1);
  /* white text on light background again too low contrast */
  /* I guess you'll also want to control this with the theme */
  color: var(--text-on-light-background);
  /* instead of just a plain grey background, we use opacity (alpha) to let the background color leak through */
  background: hsla(0, 0%, 90%, 0.8);
}

.repo-title {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

.stars,
.forks {
  padding: 0 1rem 0 0;
}
.stars i,
.forks i {
  color: #e0aa2a;
}

.repo-description {
  padding-top: 0.25rem;
  font-size: 0.8rem;
}
